name: CI-CD-2026
on: [push]
jobs:
  quality-gate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v4
        with: {go-version: '1.24'}
      - name: Linter & Format
        run: |
          go fmt ./...
          go vet ./...
      - name: Unit Tests
        run: go test -v ./...